{% extends 'layout.html' %}

{% block title %}
    Stock Sales
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">

            <div class="form-row">
                <div class="form-group col">
                  <select name="stockSymbol" class="form-control" style='width: 100%;'>
                    <option selected>Choose Stock...</option>
                    {% for stock in stocks: %}
                    <option value={{stock}}>{{stock}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col">
                  <input type="text" autocomplete="off" autofocus class="form-control" name='shares' placeholder='Shares'>
                </div>
              </div>
              <button class="btn btn-primary" type="submit" style="padding: 0.5rem 2rem;">Sell</button>
    </form>

{% endblock %}